.buttonn {
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: transform 0.1s ease-in-out;
}

.buttonn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
