.task-container {
  border: 0.125rem solid var(--primary-c1);
  border-radius: 0.625rem;
  padding: 1.875rem;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.5625rem;
}
