.label-edit {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0.125rem;
  color: var(--title-color);
}

.input-edit {
  width: 100%;
  background: #ffffff;
  padding: 0.625rem;
  border: 0.0625rem solid rgba(0, 178, 149, 0.5);
  border-radius: 0.3125rem;
  margin-bottom: 0.5625rem;
  font-size: 1rem;
  color: var(--text-color);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
}

.input-edit--data {
  width: 6.875rem;
  margin-bottom: 0%;
}

.input-edit--descricao {
  max-height: 6.25rem;
  max-width: 100%;
  min-height: 6.25rem;
  min-width: 100%;
}
