.label-edit {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 2px;
  /* identical to box height, or 127% */

  color: var(--title-color);
}

.input-edit {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 178, 149, 0.5);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 9px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.input-edit--data {
  width: 110px;
  margin-bottom: 0%;
}

.input-edit--descricao {
  max-height: 100px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
}
