.background-modal {
  z-index: 100;
  width: 100%;
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(34, 29, 35, 0.07);
}
.modal-container {
  z-index: 200;
  background-color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(34, 29, 35, 0.6);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 20px;
}
