.side-menu {
  background-color: var(--primary-c1);
  border-radius: 0px 5px 5px 0px;
  grid-area: sideMenu;
  padding: 1rem 1.25rem;
  color: #ffffff;
  width: 21.05%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
}
