.side-menu {
  background-color: var(--primary-c1);
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  grid-area: sideMenu;
  padding: 1rem 1.25rem;
  color: #ffffff;
  min-width: 15.625rem;
  width: 21.05%;
  max-width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
}
