.task {
  padding: 0.625rem;
  box-shadow: 0rem 0rem 0.25rem rgba(34, 29, 35, 0.6);
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 14.4031rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.task:hover {
  transform: scale(1.03);
  box-shadow: 0rem 0rem 0.5rem rgba(34, 29, 35, 0.6);
}

.task--late {
  box-shadow: 0rem 0rem 0.25rem var(--red-color);
}

.task--late:hover {
    box-shadow: 0rem 0rem 0.5rem var(--red-color);
}

.task__title {
  color: var(--title-color);
  text-align: center;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 0.125rem solid var(--primary-c1);
  font-size: 1rem;
  line-height: 1.3rem;
}

.task__title--late {
  border-bottom: 0.125rem solid var(--red-color);
}

.task__paragraph {
  font-family: 'Merriweather', serif;
  font-size: 0.6875rem;
  line-height: 1.0313rem;
  color: var(--text-color);
  min-height: 11.25rem;
}

.task_bottom {
  display: flex;
  justify-content: space-between;
}
.task_date {
  color: var(--date-color);
}

.task_date--late {
  color: var(--red-color);
}

.task-edit-delete {
  display: flex;
  gap: 0.625rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.edit-svg {
  fill: var(--primary-c1);
  width: 1.375rem;
  height: 1.375rem;
  transition: transform 0.2s ease-in-out;
}

.delete-svg {
  fill: var(--red-color);
  width: 1.375rem;
  height: 1.375rem;
  transition: transform 0.2s ease-in-out;
}

.edit-svg:hover,
.delete-svg:hover {
  transform: scale(1.1);
}
